<!DOCTYPE html>
<html lang="en">
    <!-- The load static is necessary to load images, css and JS -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>
<body style="background: linear-gradient(to right, #2d2ad4,#E4d2f7, #D42a45);">
    <img src="{% static 'img/pikachu_error.png' %}" class="image" style="width:100px;">
    
    <div>
        <h3>Pokemon not found, <a href="{% url 'pokeindex' %}">return.</a></h3>
    </div>
</body>
</html>