<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/guess.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>

    <script type="text/javascript">
        const audio = new Audio()
        audio.src = "{% static 'wtp.mp3' %}";
    </script>
</head>

<body>
    <div class="rayas"></div>
    <div class="rayas1"></div>

    <!--TopBar-->
    <div class="barra">
        <div class="navbar">
            <a title ="Easter_Egg"  href="http://127.0.0.1:8000/"> <img src="{% static 'img/pokesearch.png' %}" style="width:200px;"></a>
            <ul>
                <li><a href="http://127.0.0.1:8000/search">PokeSearch</a></li>
                <li><a href="http://127.0.0.1:8000/guess">Guess</a></li>
                <li><a href="http://127.0.0.1:8000/pokedex">Pokedex</a></li>
                <li><a href="http://127.0.0.1:8000/about_us">About us</a></li>  
            </ul>
        </div>
    </div>
    <Hr/>
    <div class="palgif">
        <div class="poggers"></div>
    </div>

    <!--estodo inicial este tiene que ser igual que el de abajo-->

    {% if name and nose %}
    <div class="cajita">    
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="pokemon" placeholder="Pokemon Name or ID" autocomplete="off">
                <button class="button button5">Guess </button>
            </div>    
        </form>
    </div>    
    <h1> <img class="no_seleccionable"src="{{image}}" style='filter: brightness(0); pointer-events: none;
        user-select: none;'alt="Pokemon Image"></h1>
    
    <!--Se adivina el pokemon-->

    {% elif names and pokemon %}
        <h1 class="ganar">ese era xd</h1>        
        <h1> <img src="{{pokemon}}" alt="Pokemon Image"></h1>
    <!--se busco pero no era  este tiene que ser igual que el de arriba-->

    {% elif hola and pokemons %}
    <div class="cajita">    
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="pokemon" placeholder="Pokemon Name or ID">
                <button class="button button5">Guess </button>
            </div>    
        </form>
    </div>    
    <h1> <img class="no_seleccionable"src="{{pokemons}}" style='filter: brightness(0);  pointer-events: none;
        user-select: none;' alt="Pokemon Image"></h1>

    <!--Estado inicial-->
    {% else %}

     <div class="cajita2">    
        <form method="post">
            {% csrf_token %}            
            <button class="buton_epico" title="Play" type="submit" name="pokemon"  value='play' onclick="audio.play();"><img src="{% static 'img/play.png' %}" style="width:400px;">
            </button>
            <script type="text/javascript">
                const audio = new Audio()
                audio.src = "{% static 'wtp.mp3' %}";
            </script>
        </form>

        <audio class="uwu" controls autoplay>
            <source src="{% static 'wtp.mp3'%}">
        </audio>
    </div>
    {% endif %}


</body>
</html>