<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PokeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/mani.css">
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="barra">
        <div class="navbar">
            <a href="http://127.0.0.1:8000/home"><img src="{% static 'img/pokesearch.png' %}" style="width:230px;" class="logo"></a>
        <ul>
            <li><a href="http://127.0.0.1:8000/pokedex">Pokedex</a></li>
            <li><a href="http://127.0.0.1:8000/">Guess</a></li>
            <li><a href="http://127.0.0.1:8000/about_us">About us</a></li>
            
        </ul>
        </div>
    </div>
    <div class="palgif">
        <div class="poggers"></div>
    </div>
    <div class="container">
        <span>Welcome to PokeSearch! We'll guess the pokemon you're thinking about with a few questions. You have the navigation bar that has information about the project and also a pokedex available where you can search for pokemon by name or using their National Pokédex number(ID).</span>
        <div class="buttonplay">
            <img src="{% static 'img/pokeball_pokemon.png' %}" width="350" height="350">
            <div class="post-s">
                <h2><a href="http://127.0.0.1:8000">Play</a></h2>
            </div> 
        </div>
    </div>
</body>

</html>