<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PokeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/mani.css">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <div class="barra">
        <div class="navbar">
            <img src="{% static 'img/pokesearch.png' %}" style="width:240px;" class="logo">
        <ul>
            <li><a href="link">About the app</a></li>
            <li><a href="link">About us</a></li>
        </ul>
        </div>
    </div>
    <div class="palgif">
        <div class="poggers"></div>
    </div>
</body>

</html>