<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PokeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="slytesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>

<body style="background: linear-gradient(to right, #5dc1b9,#ffff, #5dc1b9);>
    <header>
        <img class="logo" src="img/pokesearch.png" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="link">tambie</a></li>
                <li><a href="link">tambien</a></li>
            </ul>
        </nav>
        <a class="cta" href="link"><button>About us</button></a>
    </header>
</body>

</html>