<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pokedex.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>

<body>
    <div class="barra">
        <div class="navbar">
            <a title ="Easter_Egg"  href="http://127.0.0.1:8000/home"> <img src="{% static 'img/pokesearch.png' %}" style="width:200px;"></a>
            <ul>
                <li class="pokedex" ><a href="http://127.0.0.1:8000/pokedex">Pokedex</a></li>
                <li class="about"><a href="http://127.0.0.1:8000">Guess</a></li>
                <li class="about"><a href="http://127.0.0.1:8000/about_us">About us</a></li>

            </ul>
        </div>
    </div>

    <div class="palgif">
        <div class="poggers"></div>
    </div>
   
    <!-"Imagen, Cuadro de texto, Boton"->

    <div class="cajita">    
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="pokemon" placeholder="Pokemon Name or ID">
            </div>
            
            <button class="button button5">Serach </button>
        </form>
        
        
        {% if number and name %}
        <h3>
            <p style="color:#ffffff";>Pokedex number: {{number}}</p>           
        </h3>
        <h3>
            <p style="color:white";>Name: {{name}}</p>
        </h3>
        
        <h3>
            <p style="color:white";> Weight: {{weight}}</p>
        </h3>
        
            <h3>
                <p style="color:white";>Types: {{type}}</p>
            </h3>
            <h3>
                <p style="color:white";>Default sprite: </p>
            </h3>
            <img src="{{sprite}}" alt="{{name}} sprite" style="width:300px">        
            
            {% else %}
            <div>
                <h3>
                    <p style="color:rgb(0, 0, 0)";>Write the Name or ID of your Pokemon.</p>
                </h3>
            </div>
            {% endif %}
        </div>
        

    </div>

</body>
</html>