<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>
<body style="background-color:#021122;">

    <img src="{% static 'img/pokesearch.png' %}" class="image" style="width:100px;">
    <h2></h2>
    <img src="{% static 'img/pikachu.png' %}" class="image" style="width:100px;">
    
    <form method="get">
        {% csrf_token %}
        <input type="button" value="normal" name="pokemon" submit = "pikachu">
    </form>
    <div>
        {% if number and name %}
            <h3>
                <p style="color:white";>Pokedex number: {{number}}</p>
            </h3>
            <h3>
                <p style="color:white";>PUEDEN EVOLUCIONAR</p>
            </h3>
            <h3>
                <p style="color:white";> {{check_evolution}}</p>
            </h3>
            <h3> 
                <p style="color:white";>INTERSECCION DE LISTA </p>
            </h3>
            <h3>   
                <p style="color:white";> {{intersect}}</p>
            </h3>
            <h3>
                <p style="color:white";>POKEMONS POR GENERACION</p>
            </h3>
            <h3>
                <p style="color:white";>{{list_generation}}</p>
            </h3>
            <h3>
                <p style="color:white";> POKEMONS POR TIPOS</p>
            </h3>
            <h3>
                <p style="color:white";> {{list_pokemon}}</p>
            </h3>


        {% else %}
        <div>
            <h3>
                <p style="color:white";>Write the name or ID of your pokemon.</p>
            </h3>
        </div>
        {% endif %}
    </div>
</body>
</html>