<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pokedex.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>

<body>

    <!--TopBar-->
    <div class="barra">
        <div class="navbar">
            <a title ="Easter_Egg"  href="http://127.0.0.1:8000/home"> <img src="{% static 'img/pokesearch.png' %}" style="width:200px;"></a>
            <ul>
                <li class="pokedex" ><a href="http://127.0.0.1:8000/pokedex">Pokedex</a></li>
                <li class="about"><a href="http://127.0.0.1:8000">Guess</a></li>
                <li class="about"><a href="http://127.0.0.1:8000/about_us">About us</a></li>

            </ul>
        </div>
    </div>
    <div class="palgif">
        <div class="poggers"></div>
    </div>

   <!--Buscar con Botón-->
    <div class="cajita">    
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="pokemon" placeholder="Pokemon Name or ID">
                <button class="button button5">Search </button>
            </div>    
        </form>
    </div>    
    
    <!--Pokedex con Sprite-->
    <div class="poked">
        {% if number and name%}
        <img class="foto" src="{{sprite}}" alt="{{name}} sprite" style="width:10%">
        {%endif%}
        <img src="{% static 'img/Pokedex.png' %}" style="width: 28%;">
    </div>

    <!--Datos de Información-->
    <div class="dataso">
        {% if number and name %}
        
        <h3>
            <p style="color:#000000";>Pokedex number ID: {{number}}</p>           
        </h3>
        <h3>
            <p style="color:rgb(0, 0, 0)";>Pokemon Name: {{name}}</p>
        </h3>
        
        <h3>
            <p style="color:rgb(0, 0, 0)";>Human Weight: {{weight}}</p>
        </h3>
        
        <h3>
            <p style="color:black";>Types: {{type}}</p>
        </h3>
        {% endif %}
    </div>    

</body>
</html>