<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>
<body style="background-color:#021122;">

    <img src="{% static 'img/pokesearch.png' %}" class="image" style="width:250px;">
    <h1> <a href="http://127.0.0.1:8000/pokedex">Pokedex</a></h1>    <h1> <a href="http://127.0.0.1:8000/pruebas">pruebas</a></h1>

    <input type="button" value="normal" onclick="msg(normal)">
    <input type="button" value="fighting" onclick="msg(fighting)">
    <input type="button" value="flying" onclick="msg(flying)">
    <input type="button" value="poison" onclick="msg(poison)">
    <input type="button" value="ground" onclick="msg(ground)">
    <input type="button" value="rock" onclick="msg(rock)">
    <input type="button" value="bug" onclick="msg(bug)">
    <input type="button" value="ghost" onclick="msg(ghost)">
    <input type="button" value="steel" onclick="msg(steel)">
    <input type="button" value="fire" onclick="msg(fire)">
    <input type="button" value="water" onclick="msg(water)">
    <input type="button" value="grass" onclick="msg(grass)">
    <input type="button" value="electric" onclick="msg(electric)">
    <input type="button" value="psychic" onclick="msg(psychic)">
    <input type="button" value="ice" onclick="msg(ice)">
    <input type="button" value="dragon" onclick="msg(dragon)">
    <input type="button" value="dark" onclick="msg(dark)">
    <input type="button" value="fairy" onclick="msg(fairy)">
    <input type="button" value="unknown" onclick="msg(unknown)">
    <input type="button" value="shadow" onclick="msg(shadow)">
</body>
</html>


</body>
</html>
