<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>
<body style="background-color:#021122;">

    <img src="{% static 'img/pokesearch.png' %}" class="image" style="width:250px;">
    <h1> <a href="http://127.0.0.1:8000/pokedex">Pokedex</a></h1>

    <div>
        {% if name %}
            <h3>
                <h1 style="color:white";>ELEGISTE: {{name}}</h1>
                <h1 style="color:white";>{{lista_epica}}</h1>
                

            </h3>

        {% else %}
        <div>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='normal'><img src="{% static 'img/normal.png' %}" style="width:50px;"></button>
            <form/>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='fighting'><img src="{% static 'img/fighting.png' %}" style="width:50px;"></button>
            <form/>
        
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='flying'><img src="{% static 'img/flying.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='psychic'><img src="{% static 'img/psychic.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='water'><img src="{% static 'img/water.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='bug'><img src="{% static 'img/bug.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='rock'><img src="{% static 'img/rock.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='ground'><img src="{% static 'img/ground.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='electric'><img src="{% static 'img/electric.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='grass'><img src="{% static 'img/grass.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='poison'><img src="{% static 'img/poison.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='ice'><img src="{% static 'img/ice.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='dragon'><img src="{% static 'img/dragon.png' %}" style="width:50px;"></button>
            <form/>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='fairy'><img src="{% static 'img/fairy.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='ghost'><img src="{% static 'img/ghost.png' %}" style="width:50px;"></button>
            <form/>
        
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='dark'><img src="{% static 'img/dark.png' %}" style="width:50px;"></button>
            <form/>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='steel'><img src="{% static 'img/steel.png' %}" style="width:50px;"></button>
            <form/>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="pokemon" value='fire'><img src="{% static 'img/fire.png' %}" style="width:50px;"></button>
            <form/>
            <h3>
                <p style="color:white";>ESTO FUNCIONA xd</p>
            </h3>
        </div>
        {% endif %}
    </div>
</body>
</html>