<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PokeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/mani.css">
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<div class="barra">
        <div class="navbar">
            <a title ="Easter_Egg"  href="http://127.0.0.1:8000/home"> <img src="{% static 'img/pokesearch.png' %}" style="width:200px;"></a>
            <ul>
                <li class="pokedex"><a href="http://127.0.0.1:8000/pokedex">Pokedex</a></li>
                <li class="about"><a href="http://127.0.0.1:8000">Guess</a></li>
                <li class="about"><a href="http://127.0.0.1:8000/about_us">About us</a></li>
            </ul>
        </div>
    </div>
    <Hr/>
    <div class="palgif">
       <div class="poggers"></div>
    </div>
	<div class="container" style="display: auto;">
        <span>Pokesearch is a project that seeks to deliver a time of entertainment and dessestres, this project was carried out using the Poke-API as a database, we hope you like it.</span>
        <div class="centrar" title ="Renuncia Diego Perez"><img src="{% static 'img/pikachuchistoson.gif' %}" style="width:200px;"></div>
        <h1>Members of Fromware</h1>
        <div class="navbar1" style="width: auto; margin-left:auto; margin-right:auto;">
            <ul style="margin-left:auto; margin-right:auto;">
                <li class="Primer integrante" style="margin-left:30px; margin-right:30px;"><a href="https://github.com/RoKunaa" target="_blank"><img src="https://avatars.githubusercontent.com/u/116017858?v=4" style="width:140px;"></a></li>
                <li class="Segundo integrante" style="margin-left:30px; margin-right:30px;"><a href="https://github.com/Sivdotdev" target="_blank"><img src="https://avatars.githubusercontent.com/u/116016825?v=4" style="width:140px;"></a></li>
                <li class="Tercer integrante" style="margin-left:30px; margin-right:30px;"><a href="https://github.com/Aikodv" target="_blank"><img src="https://avatars.githubusercontent.com/u/112638686?s=96&v=4" style="width:140px;"></a></li>
                <li class="Cuarto integrante" style="margin-left:30px; margin-right:30px;"><a href="https://github.com/The30thHunter" target="_blank"><img src="https://avatars.githubusercontent.com/u/116296560?v=4" style="width:140px; "></a></li>
            </ul> 
        </div>
        <div class="navbar1" style="width: auto; margin-left: auto; margin-right: auto;">
            <ul style="margin-left:auto; margin-right:auto;">
                <li class="primer nombre" style="width: 100px; margin-left:55px; margin-right: 35px"><h1>Javier Alarcón</h1></li>
                <li class="segundo nombre" style="width: 120px; margin-left:55px; margin-right: 30px;"><h1>Sebastián Villarroel</h1></li>
                <li class="tercero nombre" style="width: 100px; margin-left:55px; margin-right: 40px;"><h1>Álvaro Alcaino</h1></li>
                <li class="cuarto nombre" style="width: 100px; margin-left:55px; margin-right: 40px;"><h1>Luis Vergara</h1></li>
            </ul>
        </div>
	</div>
</BODY>
</HTML>