<!DOCTYPE html>
<html lang="en">
    <!-- The load static is necessary to load images, css and JS -->
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSeach | Django</title>
</head>
<body>
    <h2>Using Django Framework</h5> 
    <!-- Inserting the main image -->
    <img src="{% static 'img/pokedex-image.png' %}" class="image" style="width:100px;">
    
    <form method="post">
        <!-- Cross-site request forgery Protection-->
        {% csrf_token %}
        
        <!-- Searchbar -->
        <input type="text" name="pokemon" placeholder="Search Your Pokemon...">
        <button type="submit">Search</button>
    </form>
    <div>
        <!-- Rendering everything requested to the API -->
        <!-- First we validate the data requested -->
        {% if number and name %}
            <h3>
                Number: {{number}}
            </h3>
            <h3>
                Name: {{name}}
            </h3>
            <h3>
                Height: {{height}}
            </h3>
            <h3>
                Weight: {{weight}}
            </h3>
            <h3>
                Default sprite: 
            </h3>
            <img src="{{sprite}}" alt="{{name}} sprite" style="width:70px">
        {% else %}
        <div>
            <h3>
                Escribe el nombre o ID de tu pokemon.
            </h3>
        </div>
        {% endif %}
    </div>
</body>
</html>