<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>PokeSearch</title>
</head>
<body>
    <h2>PokeSearch//Hola mundo</h5> 
    <img src="{% static 'img/pokedex.png' %}" class="image" style="width:100px;">
    
    <form method="post">
        {% csrf_token %}
        <input type="text" name="pokemon" placeholder="Buscar pokemon">
        <button type="submit">Buscar</button>
    </form>
    <div>
        {% if number and name %}
            <h3>
                Numero Pokedex: {{number}}
            </h3>
            <h3>
                Nombre: {{name}}
            </h3>
            <h3>
                Default sprite: 
            </h3>
            <img src="{{sprite}}" alt="{{name}} sprite" style="width:70px">
            <h3>
                Grupo 7 Fromware Team
            </h3>
            <h3>
                Alvaro Alcaino
            </h3>
            <h3>
                Javier Alarcon
            </h3>
            <h3>
                Sebastian Villaroel
            </h3>
            <h3>
                Luis Vergara
            </h3>

        {% else %}
        <div>
            <h3>
                Escribe el nombre o ID de tu pokemon.
            </h3>
        </div>
        {% endif %}
    </div>
</body>
</html>