@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 24px;
}

@keyframes slide {
  0% {
    transform: translate3d(-10000px, 0, 0);
  }
  100% {
    transform: translate3d(17000px, 0, 0); 
  }
}

body{
  overflow: hidden;
  background: linear-gradient(to left,#272727,#373737);
}

.barra{
  background: linear-gradient(to right,#272727,#373737) 
}

.navbar{
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  cursor: pointer;
}
.palgif {
  width: 80%;
  margin: 0%;
  padding: 30px 0;
  position: relative;
  top: -208px;
  opacity: 80%;
  transform: scale(0.1);
}

.poggers {
  background: url(../img/pikachu-running.gif) repeat-x; 
  height: 321px;
  width: 438px;
  animation: slide 13s linear infinite;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Roboto Slab', "sans-serif";
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: yellow;
  position: absolute;
  left: 0;
  bottom: -13px;
  transition: 0.5s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;

}
.container {
  z-index:1;
  width: 85%;
  margin: 0px auto;
  padding: 30px 0;
  position: relative;
  top: -360px;
  border-radius: 25px;
  background: rgb(211, 211, 211);
  display: table;
  text-align: center;
}

.buttonplay {
  top: -70px;
  position: relative;
  border-radius: 15px;
  margin-top: 60px ;
  margin-left : 50px ;
  margin-right : 50px ;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container img {
  border-radius: 15px;
  display: block;
}

.container span {
  text-decoration: none;
  position: relative;
  top: -20px;
  font-size: 22px;
  margin: 5px ;
}

h2{
  text-decoration: none;
  color: whitesmoke;
  font-family: 'intro', "sans-serif";
}

.buttonplay:hover .post-s{
  width: 450px;
}
.post-s{
  top: -50px;
  border-radius: 15px;
  margin-top: 50px ;
  margin-left : 50px ;
  margin-right : 50px ;
  vertical-align: bottom;
  width: 0px;
  height: 250px;
  background: rgba(216, 10, 10, 0.856);
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}
.post-s h2{
  text-decoration: none;
  color: whitesmoke;
  font-size: 50px;
  border: 6px solid white;
  border-radius: 10px;
  padding: 10px 30px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 50px;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
  font-size: 50px;
}

