@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
}

@keyframes slide {
  0% {
    transform: translate3d(-13500px, 0, 0);
  }
  100% {
    transform: translate3d(13500px, 0, 0); 
  }
}

body{
  background: linear-gradient(to left,#272727,#373737);
}

.barra{
  background: linear-gradient(to right,#272727,#373737) 
}

.navbar{
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 130px;
  cursor: pointer;
}
.palgif {
  position: relative;
  top: -178px;
  opacity: 20%;
  transform: scale(0.1);
}

.poggers {
  background: url(../img/pikachu-running.gif) repeat-x; 
  height: 321px;
  width: 438px;
  animation: slide 30s linear infinite;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Roboto Slab', "sans-serif";
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: yellow;
  position: absolute;
  left: 0;
  bottom: -13px;
  transition: 0.5s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;

}

